/*Hero*/
    
.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #2f303a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(var(--gradient)), url(../images/background/bg-img_s@1x.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(var(--gradient)), url(../images/background/bg-img_s@2x.jpg);
    }

    //tablet
    @media (min-width: 481px) {
        background-image: linear-gradient(var(--gradient)), url(../images/background/bg-img_m@1x.jpg);
    

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(var(--gradient)), url(../images/background/bg-img_m@2x.jpg);
    }}

    // desktop
    @media (min-width: 769px) {
        background-image: linear-gradient(var(--gradient)), url(../images/background/bg-img_l@1x.jpg);
    

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(var(--gradient)), url(../images/background/bg-img_l@2x.jpg);
    }
}

    &__title {
        color: var(--main-title-color);
        font-weight: 900;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        max-width: 360px;
        font-size: 26px;
        line-height: 1.61;

        @include mq(desktop) {
            font-size: 44px;
            line-height: 1.36;
            max-width: 696px;
        }
    }
}