.menu-open {
    background-color: transparent;
    border: none;
    margin-left: auto;
    @media screen and (min-width: 768px) {
    display: none;}

}

.mob-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-title-color);
    top: 0;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    }

.container-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.menu-close {
    background-color: transparent;
    border: none;
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;

    &:hover,
    &:focus {
    color: var(--accent-color);
    transform: rotate(-45deg);
}}

.menu-nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    

&__current {
    position: relative;
}

&__link--current {
    display: flex;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover,
&__link:focus {
    color: var(--accent-color);
}}

.menu-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1,18;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}
.menu__all-contacts {
    display: flex;
    flex-direction: column;
    
}
.menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
}
.menu-contacts__item {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.17;
}
.menu-contacts__tel {
    font-size: 34px;
    color: var(--accent-color);
}
.menu-contacts__email {
    font-size: 24px;
    color: var(--text-color);
}  
.menu-socials {
    display: flex;
    flex-direction: wrap;
    }

.menu-socials__item {
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    
}
.menu-socials__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-socials__link {
    color: var(--accent-color);
}




