/*.menu-btn {
    display: none;
}

@media screen and(max-width: 767px) {
    .menu-btn {
        display: block;
        margin-left: auto;
        background-color: transparent;
        border: none;

        transform: rotateX(0);
        @include transition-double(transform);

        &:hover,
        &:focus {
            color: var(--accent-color);
            transform: rotateX(90deg);
        }
    }*/

.menu-open {
    background-color: transparent;
    border: none;
    margin-left: auto;
    @media screen and (min-width: 768px) {
    display: none;}

}

.mob-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-title-color);
    top: 0;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow-y: scroll;
    outline: 2px solid red;
      outline-offset: -2px;
}

.container-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.menu-close {
    background-color: transparent;
    border: none;
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;

    &:hover,
    &:focus {
    color: var(--accent-color);
    transform: rotate(-45deg);
}}

.menu-nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    //margin-bottom: 302px;

&__current {
    position: relative;
}

&__link--current {
    display: flex;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover,
&__link:focus {
    color: var(--accent-color);
}}

.menu-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1,18;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}
.menu__all-contacts {
    display: flex;
    flex-direction: column;
    
}
.menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
}
.menu-contacts__item {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.17;
}
.menu-contacts__tel {
    font-size: 34px;
    color: var(--accent-color);
}
.menu-contacts__email {
    font-size: 24px;
    color: var(--text-color);
}  
.menu-socials {
    display: flex;
    flex-direction: wrap;
    }

.menu-socials__item {
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    
}
.menu-socials__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-socials__link {
    color: var(--accent-color);
}




/*.menu,
.menu-btn {
    display: none;
}

@media screen and(max-width: 767px) {
    .menu-btn {
        display: block;
        margin-left: auto;
        background-color: transparent;
        border: none;

        transform: rotateX(0);
        @include transition-double(transform);

        &:hover,
        &:focus {
            color: var(--accent-color);
            transform: rotateX(90deg);
        }
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--light-bg);

        display: flex;
        justify-content: center;

        opacity: 1;
        @include transition(opacity);

        @media screen and(max-width: 430px) {
            padding-left: 20px;
        }

        .menu-btn:hover &,
        .menu-btn:focus & {
            opacity: 0;
        }

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
        }

        &__container {
            padding-left: 40px;
            position: absolute;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            overflow-y: scroll;

            @media screen and(max-width: 430px) {
                padding-left: 15px;
            }
        }

        &__btn-close {
            position: absolute;
            top: 10px;
            right: 15px;

            background-color: transparent;
            border: none;

            transform: rotate(0);
            @include transition-double(transform);

            &:hover,
            &:focus {
                color: var(--accent-color);
                transform: rotate(-45deg);
            }
        }
    }

    .menu-nav {
        &__list {
            margin-top: 48px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            @include mini-mob {
                gap: 24px;
            }
        }

        &__link {
            font-weight: 500;
            font-size: 40px;
            line-height: var(--line-height-auto);
            letter-spacing: 0.02em;
            @include transition();

            @include mini-mob {
                font-size: 32px;
            }

            &--active,
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }
    }

    .menu-contacts {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 64px;

        margin-top: 32px;

        @include mini-mob {
            gap: 24px;
            margin-bottom: 40px;
        }

        &__tel {
            margin-bottom: 32px;
            font-weight: 500;
            font-size: 34px;
            line-height: var(--line-height-auto);
            letter-spacing: 0.02em;

            @include mini-mob {
                font-size: 28px;
            }

            color: var(--accent-color);
        }

        &__email {
            margin-bottom: 64px;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;

            @include mini-mob {
                font-size: 20px;
            }

            color: var(--second-color);
        }
    }

    .menu-socials {
        @include flex(start);
        flex-wrap: wrap;
        margin-left: -10px;
        margin-bottom: 38px;

        &__item {
            margin-bottom: 10px;
        }

        &__link {
            padding: 0 10px;

            font-weight: 500;
            font-size: 18px;
            line-height: 1.22;

            letter-spacing: 0.02em;

            color: var(--accent-color);
        }

        &__item:not(:last-child) {
            border-right: 1px solid var(--main-color);
        }
    }
}
/*body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: #212121;
    background-color: #fff;
}

.container {
    min-width: 320px;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.page-header .container {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}*/